.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    width: 60%;
    .modal-body {
      position: relative;
      flex: 1 1 auto;
      padding: 1rem;
      width: 100%;
      height: 180px;
      text-align: center;
      .modal-message {
        font-size: 18px;
      }
      .icon-potition {
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}

.fa-kiss {
  font-size: 50px;
}

.fa-check-circle {
  font-size: 45px;
}

.dialog-text {
  // line-height: 40px;
  text-align: center;
}

// スマホ
@media (max-width: 400px) {
  .modal-container {
    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
      width: 70%;
      .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        width: 100%;
        height: 180px;
        text-align: center;
        .icon-potition {
          display: block;
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .fa-kiss {
    font-size: 55px;
  }
  .fa-check-circle {
    font-size: 38px;
  }
}
