.fa-flask-potion {
    font-size: 110%;
    margin: 0 15px;
    line-height: 1px;  
}

.fa-plus-square {
    font-size: 55px;
    top:100%;
    margin: 4% 0;
}

.fa-frown-open {
    font-size: 38px
}

.fa-twitter {
    font-size: 27px;
}

.header-option {
    background-color: #C5E2ED;
    width:3rem;
    height:3rem;
    margin: 0px 1.3px;
    .header-option-icon {
        font-size: 27px;
    }
    // いる??
    .header-my-icon {
        font-size: 27px;
    }
}