@media (max-width: 376px) {
    .rank-enter-active {
      transition: all .5s
    }
    .rank-leave-active {
      transition: all .5s
    }
    .rank-enter {
      transform: translateX(400px)
    }
    .rank-leave-to {
      transform: translateX(400px);
    }
}